# Frontend Environment Variables

# Base URL for the NestJS REST API
VITE_URL_BACKEND="http://localhost:8000/api/v1"

# Base URL for the NestJS WebSockets connection
VITE_URL_SOCKET="http://localhost:8000"
